name: Upload website to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl private --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }} # optional: defaults to us-east-1
          SOURCE_DIR: "cloudresume" # optional: defaults to entire repository
  
  S3PackageUpload:
    runs-on: ubuntu-latest
    steps:
        - name: Git clone the repository
          uses: actions/checkout@v4
        - name: configure aws credentials
          uses: aws-actions/configure-aws-credentials@v3
          with:
            role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
            role-session-name: samplerolesession
            aws-region: ${{ secrets.AWS_REGION }}
        # Upload a file to AWS s3
        - name:  Copy index.html to s3
          run: |
            aws s3 cp ./index.html s3://${{ secrets.S3_BUCKET }}/ 
